body {
    background-color: #333333;
    margin: 0;
}

header {
    background-color: #222222;
    color: white;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger {
    padding: 0;
    background-color: transparent;
    border-color: transparent;
    margin-left: 10px;
}

.burger:hover {
    cursor: pointer;
}

.burger span {
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    margin: 4.5px 0;
}

.titre {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 50px;
  cursor: default;
}

.titre span {
  transition: transform 0.3s;
}

.titre span:hover {
  transform: scale(1.5);
}